body, h1,h2,h3,h4,h5,h6 {
    font-family: "Montserrat", sans-serif
}

.w3-sidebar {
    width: 120px;
    
}
#main {
    margin-left: 120px
}
@media only screen and (max-width: 600px) {
    #main {
        margin-left: 0
    }
    
}

/* Index.html */
.mySlides {
    display:none
}
.w3-left, .w3-right, .w3-badge {
    cursor:pointer
}
.w3-badge {
    height:13px;width:13px;padding:0
}

/* Slide Infinito */
.slider {
    width: 80vw;
    height: auto;
    margin: auto;
    overflow: hidden;
    display: flex;
}


.slider .slide-track {
    display: flex;
    animation: scroll 3s linear infinite;
    -webkit-animation: scroll 3s linear infinite;
    width: calc(200px * 16);
}

.slider .slide {
    width: 200px;
}

.slider .slide .infinity {
    width: 100%;
}

.infinity {
    margin: 20px;
    border-radius: 100%;
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-200px * 8));
        transform: translateX(calc(-200px * 8));
    }
}