/* App.css */
body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

.app-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  transition: width 0.3s ease;
}

.main-content {
  flex-grow: 1;
  padding: 1rem;
  transition: margin-left 0.3s ease;
}

.main-content.expanded {
  margin-left: 240px; /* Ancho del sidebar expandido */
}

.main-content.collapsed {
  margin-left: 80px; /* Ancho del sidebar comprimido */
}

@media (max-width: 768px) {
  .main-content.expanded, .main-content.collapsed {
    margin-left: 0;
  }
}